# Import Relevant Libraries

In [32]:
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split
import pandas as pd
import pickle

# Import Data

In [33]:
df = pd.read_csv('breast-cancer-wisconsin.data')

In [34]:
df.head()

,id,clump_thickness,Unif_cell_size,Unif_cell_shape,marg_adhesion,single_epith_cell,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

# Replace missing data with -99999 and drop irrelevant column - id column

In [35]:
df.replace('?', -99999, inplace=True)
df.drop(['id'], 1, inplace=True)

# Convert Dataset to Array

In [36]:
X = np.array(df.drop(['Class'], 1))
y = np.array(df['Class'])

# Split Dataset to Train and Test data

In [37]:
X_Train, X_Test, y_Train, y_Test = train_test_split(X, y, test_size = 0.2)

# Add CLassifier

In [38]:
clf = neighbors.KNeighborsClassifier()
clf.fit(X_Train, y_Train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

# Save CLassifier in using pickle

In [39]:
# to load classifier loaded in 2 steps down
#classifier_f = open('trained_data.pickle', 'rb')
#clf = pickle.load(classifier_f)
# classifier_f.close()

In [40]:
#fitting the loaded classifier
#clf.fit(X_Train, y_Train)

# Confirm Model Accuracy

In [41]:
accuracy = clf.score(X_Test, y_Test)
print(accuracy)

0.9714285714285714

# Predictions

In [51]:
example_measures = np.array([4,2,1,1,1,2,3,2,1])
example_measures = example_measures.reshape(1,-1)
prediction = clf.predict(example_measures)
print(prediction)

[2]

In [49]:
example_measures = np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,2,2,2,3,2,1]])
example_measures = example_measures.reshape(2,-1)
prediction = clf.predict(example_measures)
print(prediction)

[2 2]

In [53]:
example_measures = np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,2,2,2,3,2,1]])
example_measures = example_measures.reshape(len(example_measures),-1)
prediction = clf.predict(example_measures)
print(prediction)

[2 2]